script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(type='text/javascript' src='bootstrap-3.3.6-dist/js/bootstrap.min.js')
script(type='text/javascript' src='codemirror-5.12/lib/codemirror.js')
script(type='text/javascript' src='codemirror-5.12/mode/htmlmixed/htmlmixed.js')
script(type='text/javascript' src='codemirror-5.12/mode/xml/xml.js')
script(type='text/javascript' src='codemirror-5.12/mode/css/css.js')
script(type='text/javascript' src='codemirror-5.12/mode/javascript/javascript.js')
script(type='text/javascript' src='js/custom.js')