include ./header.jade

.container
  .page-header
    h1 Do Something

  a(href='/browse')
    span.btn.btn-primary Browse Existing Corrals
  
  br
  br

  a(href='/new')
    span.btn.btn-primary Create New Corral

include ./footer.jade
