doctype html
html(lang='en')
  head
    title #CodeCorral
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='bootstrap-3.3.6-dist/css/bootstrap.min.css')
    if codemirror
      link(rel='stylesheet' href='codemirror-5.12/lib/codemirror.css')
      link(rel='stylesheet' href='codemirror-5.12/theme/base16-dark.css')
      link(rel='stylesheet' href='codemirror-5.12/addon/display/fullscreen.css')
      link(rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet' href='css/custom.css')
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand' href='/') #CodeCorral
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              button(class='btn btn-primary navbar-btn create-button')
                a(href='/new') Create

    block content

    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type='text/javascript' src='bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(type='text/javascript' src='https://cdn.socket.io/socket.io-1.4.5.js')

    if codemirror
      script(type='text/javascript' src='codemirror-5.12/lib/codemirror.js')
      script(type='text/javascript' src='codemirror-5.12/mode/htmlmixed/htmlmixed.js')
      script(type='text/javascript' src='codemirror-5.12/mode/xml/xml.js')
      script(type='text/javascript' src='codemirror-5.12/mode/css/css.js')
      script(type='text/javascript' src='codemirror-5.12/mode/javascript/javascript.js')
      script(type='text/javascript' src='codemirror-5.12/addon/display/fullscreen.js')
      script(type='text/javascript' src='codemirror-5.12/addon/display/placeholder.js')
      script(type='text/javascript' src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
      script(type='text/javascript' src='js/custom.js')