extends layout.jade

block content
  .container
    form(action='/create' method='post')
      .page-header
        input(type='submit' class='btn btn-primary btn-right' value='Save')

        h1 Create New Corral

      label(for='name') Name
      br
      input(type='text' name='name')
      br
      br
      
      .corral
        .corral-item
          label(for='html') HTML
          textarea(name='html' class='editor html-editor')

        .corral-item
          label(for='css') CSS
          textarea(name='css' class='editor css-editor')
             
        .corral-item
          label(for='js') JS
          textarea(name='js' class='editor js-editor')
