doctype html
html(lang='en')
  head
    title CodeCorral Preview Window
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    style
      | !{css}
  body
    | !{html}

    script(type='text/javascript')
      | !{js}
