html {
	width: 100%;
	height: 100%;
}

body {
	line-height: 1;
	height: 100%;
	background-color: #151515;
	background-image: url('./../images/cartographer.png');
	background-repeat: repeat;
}

.create-button a, .create-button a:hover {
	color: white;
	text-decoration: none;
}

.navbar {
	border-radius: 0px;
}

.navbar-inverse .navbar-brand {
	color: #dddddd;
}

h1 {
	color: #dddddd;
}

.corral, .grid-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -5px 5px -5px;
}

.corral-item, .grid-item {
	width: 30%;
	min-width: 200px;
	max-width: 400px;
	flex-basis: auto;
	flex-grow: 1;
	margin: 5px;
	position: relative;
	display: block;
}

label {
	color: #dddddd;
}

iframe {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 250px;
	display: block;
}

.iframe-holder {
	background-color: white;
}

.iframe-overlay {
	background-color: #151515;
	opacity: .8;
	width: 100%;
	height: 250px;
	position: absolute;
}

iframe.detail {
	border: 1px solid black;
}

.btn-right {
	float: right;
}

input, textarea {
	background-color: #151515;
	color: #dddddd;
	border: 0;
	padding: 3px;
}

.new-name {
	font-size: 36px;
	width: 380px;
}

.grid-name, .grid-name:visited {
	display: block;
	position: absolute;
	color: #dddddd;
	font-size: 1.5em;
	bottom: 20px;
	width: 70%;
	padding-top: 5px;
	margin: 0 10px;
	border-top: 2px solid #dddddd;
}

.iframe-overlay:hover {
	background-color: black;
	opacity: .8;
}

.iframe-overlay:hover .grid-name {
	color: white;
	border-top: 2px solid white;
}

.error {
	text-align: center;
	color: #dddddd;
	margin: 50px 0;
}